#healthcare-page {
  /* ========== SECTION STYLES ========== */

  /* ========== HERO SECTION (REDESIGNED) ========== */

  .hospitality-hero {
    margin-top: clamp(30px, 5vw, 100px);
    background-color: #fff;
  }

  .hero-grid {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
    gap: clamp(40px, 5vw, 100px);
  }

  .hero-content {
    text-align: left;
  }

  .hospitality-hero .page-name-wrapper {
    margin-bottom: 12px;
  }

  .page-name-text {
    padding: clamp(3px, 0.5vw, 6px) clamp(6px, 0.8vw, 12px);
    border: 1px solid var(--color-blue);
    width: max-content;
    color: var(--color-blue);
    border-radius: 9999px;
    font-size: clamp(10px, 0.7vw, 14px);
    line-height: clamp(18px, 1.2vw, 20px);
    font-weight: 500;
  }

  .main-heading {
    /* font-weight: 700; */
    font-size: clamp(40px, 3.23vw, 64px);
    line-height: 120%;
    color: #000;
    text-align: left;
    /* text-shadow: 0px 2px 20.5px rgba(0, 0, 0, 0.1); */
  }

  .main-heading .highlight {
    color: var(--color-blue);
  }

  .sub-text {
    font-family: var(--font-inter);
    font-size: clamp(16px, 1.1vw, 20px); /* Fluid 16-20px */
    color: var(--color-text-secondary);
    margin: 30px 0px 40px 0;
    font-weight: 300;
    text-align: left;
    max-width: 720px;
    line-height: clamp(24px, 1.56vw, 30px); /* Fluid line-height */
  }

  @media (max-width: 1536px) {
    .sub-text {
      max-width: 650px;
    }
  }

  .hospitality-hero .btn-wrapper {
    justify-content: flex-start;
    padding: 0;
  }

  .blue-button-fill {
    background-color: #4e6be9;
    border: none;
    border-radius: 10px;
    padding: 14px 28px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 14px 0 rgba(78, 107, 233, 0.39);
  }

  @media (max-width: 480px) {
    .main-heading {
      font-size: 34px;
      line-height: 120%;
    }
  }

  .hospitality-hero .hero-image-wrapper {
    /* height: 464px; */
    width: auto;
    border-radius: 24px;
  }

  .hospitality-hero .hero-image-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    display: block;
    margin-top: 0;
    object-fit: contain;
  }

  @media (max-width: 1200px) {
    .hospitality-hero .hero-image-wrapper img {
      border-radius: 18px;
    }
  }
  @media (max-width: 768px) {
    .hospitality-hero .hero-image-wrapper img {
      border-radius: 12px;
    }
  }

  @media (max-width: 1024px) {
    .hero-grid {
      grid-template-columns: 1fr;
      gap: 60px;
    }

    .hospitality-hero .hero-image-wrapper {
      height: auto;
      width: auto;
      /* width: 100%; */
      /* max-width: 715px; */
    }

    .hero-content {
      text-align: center;
    }

    .hospitality-hero .main-heading,
    .hospitality-hero .sub-text {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    .hospitality-hero .btn-wrapper {
      justify-content: center;
    }

    .page-name-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  /* ========================================= */
  /* ---------------SLIDER--------------- */
  /* ========================================= */

  .slider {
    margin: 0px auto;
    padding: 30px 0;
    position: relative;
    /* background-image:
    linear-gradient(to right, #f2f4f7 1px, transparent 1px),
    linear-gradient(to bottom, #f2f4f7 1px, transparent 1px);
  background-size: 120px 120px; */
    background: #040404;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }

  .slide-track {
    display: flex;
    padding-left: var(--section-px);
    padding-right: var(--section-px);
    gap: 70px;
    width: calc(200px * 24); /* Large width for scrolling */
    /* Animation handled via media queries */
  }

  .slide {
    height: 40px;
    width: 100px;
    flex: 0 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 100px;
    padding: 5px 0;
  }
  .slide:first-child {
    width: 160px;
    flex: 0 0 160px;
    height: auto;
  }

  .slide:first-child img {
    width: 100%;
    height: auto;
  }

  .slide img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%) brightness(1);
    object-fit: contain;
    transition: transform 0.3s;
  }
  /* .slide img:hover {
  transform: translateZ(20px);
} */

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      /* Adjusted to match Demo page 2 */
      transform: translateX(calc(-170px * 8));
    }
  }

  @media (max-width: 1536px) {
    .slide-track {
      gap: 55px;
    }
  }

  /* DESKTOP STYLES (>= 768px) */
  @media (min-width: 768px) {
    .slide-track {
      max-width: 1920px; /* Apply max-width only on desktop */
      width: 100%;
      justify-content: space-around;
      animation: none;
      transform: none;
    }

    /* Hide the duplicate sets (index 9 to 24) */
    .slide:nth-child(n + 9) {
      display: none;
    }
  }

  /* MOBILE STYLES (< 768px) */
  @media (max-width: 767px) {
    .slide-track {
      animation: scroll 20s linear infinite;
      gap: 45px; /* Ensure gap is consistent */
    }

    /* Ensure all slides are visible on mobile for the loop */
    .slide:nth-child(n + 9) {
      display: flex;
    }

    /* .slider::before,
  .slider::after {
    display: block;
  } */
  }

  /* .slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    #040404 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 25%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
} */

  .btn-wrapper {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.25rem 0;
  }

  .buttons-mobile {
    display: none;
    padding: 3rem 1.25rem;
  }

  .logo-stack {
    display: none; /* Globally hidden */
    width: 100%;
    gap: 32px;
    flex-wrap: wrap;
    margin-top: 24px;
    justify-content: center;
  }

  /* Removed media query that was hiding it on desktop only, as it's now hidden globally */

  @media (max-width: 768px) {
    .slider {
      display: grid; /* Make slider visible */
    }

    /* .logo-stack {
    margin-bottom: 30px;
  } */ /* Removed */

    .hero-image-wrapper img {
      margin-top: 0;
    }
  }

  @media (max-width: 540px) {
    .btn-wrapper {
      flex-direction: column;
      gap: 10px;
      width: 100%;
    }
    .btn-wrapper button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .buttons-desktop {
      display: none;
    }

    .buttons-mobile {
      display: flex;
    }
  }

  /* ========== FEATURE INFO SECTION ========== */

  .feature-info-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    background-color: var(--color-bg);
  }

  .feature-info-section .info-image img {
    object-fit: contain;
  }

  .info-content {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    max-width: 520px;
  }

  /* .info-content .section-description {
  max-width: 703px;
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
} */

  .tag-pill {
    margin-bottom: 24px;
    padding: 6px 12px;
    border: 1px solid var(--color-blue);
    width: max-content;
    color: var(--color-blue);
    border-radius: 9999px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }

  .info-content h3 {
    font-size: clamp(28px, 2.4vw, 48px);
    font-weight: 600;
    color: var(--color-text-primary);
    line-height: 1.2;
    letter-spacing: -2%;
    margin: clamp(16px, 2vw, 24px) 0;
  }

  .section-description {
    max-width: 650px;
    font-size: clamp(14px, 1.1vw, 18px);
    font-weight: 300;
    color: var(--color-text-tertiary);
    line-height: 1.6;
  }

  .info-image {
    /* width: 100%;
  max-width: clamp(360px, 45vw, 792px); */
    height: 501px;
    width: auto;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info-image img {
    width: 100%;

    /* max-width: clamp(320px, 42vw, 100%); */
    height: 100%;
    /* border-radius: clamp(8px, 1vw, 12px); */
  }

  @media (max-width: 1536px) {
    /* .section-heading {
    font-size: 42px;
  } */
    .section-description {
      max-width: 566px;
    }
    .info-image {
      justify-content: end;
      height: 400px;
    }
    /* .feature-info-section {
    padding: 20px 0;
  } */
  }

  @media (max-width: 1024px) {
    .section-heading {
      font-size: 38px;
    }
  }

  @media (max-width: 768px) {
    .feature-info-section .container {
      flex-direction: column;
      text-align: center;
      gap: 40px;
    }

    .info-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .tag-pill {
      margin-bottom: 16px;
    }

    /* .section-heading {
    font-size: 32px;
  }

  .section-description {
    font-size: 16px;
  } */
  }

  /* ===== OUTREACH SECTION ===== */

  .outreach-section {
    background: linear-gradient(to bottom, #1a234c, #6b65e8);
    color: #fff;
  }

  .outreach-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
  }

  .outreach-content {
    max-width: 704px;
  }

  .outreach-content .page-name-text {
    color: #fff;
    border: 1px solid #fff;
  }

  .outreach-heading {
    font-size: clamp(28px, 2.4vw, 48px);
    font-weight: 600;
    line-height: 1.2;
    color: #fff;
    margin: clamp(16px, 2vw, 24px) 0;
  }

  .outreach-description {
    font-size: clamp(14px, 1.1vw, 18px);
    line-height: 1.6;
    font-weight: 300;
    color: #fff;
  }

  .outreach-image {
    /* height: 501px; */
    max-width: 870px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .outreach-image img {
    width: 90%;
    padding-right: 50px;
    height: auto;
    display: block;
  }

  @media (max-width: 1536px) {
    .outreach-container {
      gap: 30px;
    }
  }

  @media (max-width: 1536px) and (min-width: 1024px) {
    .outreach-image {
      justify-content: flex-start;
    }
  }

  @media (max-width: 1200px) {
    .outreach-section {
      padding: 4rem 0;
    }
  }

  @media (max-width: 768px) {
    .outreach-container {
      flex-direction: column-reverse;
    }

    .outreach-section {
      padding-top: 4rem;
      padding-bottom: 0;
    }

    .outreach-image {
      padding-right: 0;
      width: 100%;
      height: auto;
      justify-content: center;
    }

    .outreach-image img {
      width: 100%;
      padding-right: 0;
      height: auto;
    }
  }

  /* ========== HIRING SECTION ========== */

  .hiring-section {
    background-color: var(--color-bg);
  }

  .section-header {
    margin-bottom: 60px;
  }

  .hiring-title {
    font-size: clamp(32px, 2.5vw, 48px);
    font-weight: 600;
    color: #1a1a1a;
    margin-bottom: 20px;
    line-height: 1.2;
  }

  .hiring-section .text-T1 {
    max-width: 620px;
    font-weight: 300;
    margin: 0 auto;
    color: #141219;
  }

  .hiring-grid {
    display: grid;
    padding: 0 80px;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-bottom: 60px;
  }

  .hiring-card {
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    padding: 24px;
    box-shadow: 0 0.98px 26.8px 0 rgba(98, 154, 232, 0.08);
    transition: all 0.3s ease;
    display: flex;
    gap: 16px;
    flex-direction: column;
    max-width: 378px;
    height: 100%;
  }

  .hiring-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  }

  .hiring-card-image {
    width: 100%;
    /* aspect-ratio: 16 / 10; */
    overflow: hidden;
  }

  .hiring-card-image img {
    width: 100%;
    max-width: 330px;
    height: 100%;
    object-fit: cover;
  }

  .hiring-card-content {
    text-align: left;
  }

  .hiring-card-content h6 {
    font-weight: 600;
    margin-bottom: 12px;
  }

  .hiring-card-content .text-T1 {
    color: #181d27;
    font-weight: 300;
    max-width: 320px;
    margin-left: 0;
  }

  @media (max-width: 1536px) {
    .hiring-card .text-T1 {
      font-size: 16px;
    }
  }

  @media (max-width: 1200px) {
    .hiring-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 640px) {
    .hiring-grid {
      grid-template-columns: 1fr;
      padding: 0px;
    }

    .hiring-card {
      max-width: 400px;
      margin: 0 auto;
    }
  }

  /* ===== FEATURE SECTION ===== */

  .feature-section {
    display: flex;
    justify-content: center;
    background-color: var(--color-bg);
  }

  .feature-container {
    display: flex;
    align-items: center;
  }

  .feature-content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 820px;
  }

  .feature-heading {
    font-size: clamp(28px, 2.4vw, 48px);
    font-weight: 600;
    color: var(--color-text-primary);
    line-height: 1.2;
    margin: clamp(16px, 2vw, 24px) 0;
  }

  .feature-description {
    max-width: 640px;
    font-size: clamp(14px, 1.1vw, 18px);
    font-weight: 300;
    color: var(--color-text-tertiary);
    line-height: 1.6;
  }

  .feature-image {
    height: 501px;
    max-width: 690px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .feature-image img {
    /* width: 100%; */
    height: auto;
    display: block;
  }

  @media (max-width: 1536px) {
    .feature-image {
      height: 400px;
      justify-content: end;
    }
    .feature-heading {
      max-width: 650px;
    }
  }

  @media (max-width: 768px) {
    .feature-container {
      flex-direction: column;
      text-align: center;
      gap: 40px;
    }

    .feature-content {
      align-items: center;
    }

    .feature-image {
      width: 100%;
      height: auto;
    }

    .feature-image img {
      width: 100%;
      height: auto;
    }
  }
}
