/* ========== FAQ SECTION ========== */

.faq-section {
  background-color: #fff;
}

.faq-container {
  display: flex;
  gap: 80px;
  align-items: flex-start;
}

.faq-left {
  flex: 1;
  position: sticky;
  top: 120px;
}

.faq-left h3 {
  font-size: clamp(28px, 2.4vw, 48px);
  font-weight: 600;
  color: var(--color-text-primary);
  line-height: 1.2;
  margin: clamp(16px, 2vw, 24px) 0;
}

.faq-left h3 {
  margin-bottom: 10px;
}

.faq-right {
  flex: 1;
  width: 100%;
  max-width: 828px;
}

.faq-accordion {
  padding: 0px 24px;
  border-top: 1px solid #eaecf0;
}

@media (max-width: 768px) {
  .faq-accordion {
    padding: 0;
  }
}

.faq-item {
  border-bottom: 1px solid #eaecf0;
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
  cursor: pointer;
  gap: 20px;
}

.faq-question {
  font-size: clamp(18px, 1.3vw, 24px);
  font-weight: 600;
  color: var(--color-text-primary);
  transition: color 0.3s ease;
}

.faq-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.faq-body {
  display: grid;
  grid-template-rows: 0fr;
  transition:
    grid-template-rows 0.3s ease-in-out,
    padding 0.3s ease-in-out;
}

.faq-answer {
  overflow: hidden;
  font-size: clamp(14px, 0.8vw, 16px);
  font-weight: 400;
  color: var(--color-primary);
  line-height: clamp(20px, 1.4vw, 24px);
  letter-spacing: 0%;
}

@media (max-width: 768px) {
  .faq-section {
    padding-top: 0;
  }

  .faq-question {
    line-height: 1.6;
    text-align: left;
  }

  .faq-answer {
    text-align: left;
  }
}

.faq-item.active .faq-body {
  grid-template-rows: 1fr;
  padding-bottom: 24px;
}

/* .faq-item.active .faq-question {
  color: var(--color-blue);
} */

@media (max-width: 1024px) {
  .faq-container {
    flex-direction: column;
    gap: 40px;
  }

  .faq-left {
    position: static;
  }
}

@media (max-width: 768px) {
  .faq-question {
    font-size: 16px;
  }
}
