/* ========== FOOTER SECTION ========== */

.footer {
  background-color: #f5f5f5;
  padding-top: 80px;
  padding-bottom: 40px;
}

.footer-top {
  display: flex;
  gap: 80px;
  margin-bottom: 80px;
}

.footer-logo-section {
  max-width: 519px;
  width: 100%;
}

.footer-logo-section .text-T1 {
  font-size: 16px;
  max-width: 398px;
  line-height: 26px;
  color: #535862;
}

.footer-logo {
  height: 38px;
  width: auto;
  margin-bottom: 28px;
}

.footer-description {
  font-size: 16px;
  color: var(--color-text-secondary);
  line-height: 1.6;
}

.footer-links-grid {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 26px;
}

.footer-heading {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-blue);
  margin-bottom: 16px;
  line-height: 16px;
}

.footer-links {
  list-style: none;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-links a {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 0;
  white-space: nowrap;
  color: #535862;
  transition: color 0.3s ease;
}

@media (max-width: 768px) {
  .footer-links a {
    white-space: wrap;
  }
}

.footer-links a:hover {
  color: var(--color-blue);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #cccccc;
  margin: 24px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-family: var(--font-inter);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #667085;
}

.social-links {
  display: flex;
  gap: 20px;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links img {
  width: 24px;
  height: 24px;
}

.social-links img:hover {
  opacity: 1;
}

@media (max-width: 1536px) {
  .footer-heading {
    font-size: 14px;
  }

  .footer-links a {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .footer-top {
    flex-direction: column;
    gap: 48px;
  }

  .footer-logo-section {
    max-width: 100%;
  }

  .footer-links-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .footer-links-grid {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 24px;
    align-items: center;
    text-align: center;
  }

  .footer {
    padding: 26px;
    background-color: #fff;
  }
  .footer > .container {
    background-color: #f5f5f5;
    padding: 24px;
    border-radius: 12px;
  }

  .footer-logo-section .text-T1 {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-links a {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 370px) {
  .footer-links-grid {
    grid-template-columns: 1fr;
  }
}
